
body {
     height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Abel', sans-serif;
    /* font-family: 'Poiret One', cursive; */
    text-align: left;
    background-repeat: no-repeat;
}


.정렬 {
    width: fit-content;
    margin: 0px auto;
}

.기본이미지 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(6intro.jpg);
    opacity: .3;
}

.이미지 {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.컨테이너 {
    width: 50%;
    position: absolute;
    right: 0;
    display: flex;
    align-content: center;
}

.영화보자 {
    width: 70%;
    height: 50%;
    padding: 10px 0 0 8%;
    box-sizing: border-box;
    font-size: 1.7vw;
    line-height: 2.8vw;
}

.제목강조 {
    height: 40px;
    font-size: 1.7vw;
    line-height: 2.8vw;
    font-weight: bold;
	cursor: -webkit-grabbing;

}

.몇편 {
    display: block;
    height: fit-content;
    width: 30%;
    padding: 12px 6% 0 0;
    box-sizing: border-box;
    font-size: 1vw;
    font-weight: bold;
    line-height: 1.35vw;
    float: right;
    cursor: -webkit-grab;
}

